{
  "machines": [
    {
      "name": "sean-framework",
      "address": "sean-framework-main.yznpnnv7bl.viam.cloud",
      "api_key_id": "REPLACE_ME",
      "api_key": "REPLACE_ME",
      "part_id": "08852a48-cafb-47fc-a747-14982036c715",
      "test_profiles": [
        "realsense",
        "viamrtsp"
      ],
      "onvif_credentials": [
        {"user": "REPLACE_ME", "pass": "REPLACE_ME"}
      ],
      "persistent_resources": [
        "telegraf-sensor",
        "viam_viam-telegraf-sensor"
      ],
      "telegraf_sensor": {
        "name": "telegraf-sensor"
      }
    }
  ],
  "schedule": {
    "cron_expr": "*/30 * * * *",
    "timezone": "America/New_York"
  },
  "alerts": {
    "slack_webhook": ""
  },
  "logs": {
    "enabled": true,
    "num_entries": 100,
    "lookback_minutes": 30,
    "levels": []
  },
  "runs_dir": "runs",
  "max_report_days": 30
}
